/* XL (laptop) Device :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {
    
}
@media (min-width: 1200px) and (max-width: 1300px) {
   
}
/* LG Device :992px. */
@media (min-width: 992px) and (max-width: 1199px) {
    
}


/* MD Device :768px. */
@media (min-width: 768px) and (max-width: 991px) {
    




}


@media (max-width: 767px) {
}

/*-- Phone Landscape --*/
@media only screen and (min-width: 576px) and (max-width: 767px) {
    



}



/* Extra small Device. */
@media (max-width: 575px) {
    #videoToparea .videoarea .topliveOption {
        top: 13px;
        left: 1px;
    }
    #videoToparea{
        padding: 20px 0px;
    }
    #videoToparea .videoarea video {
        max-width: 100%;
        max-height: 100%;
        border-radius: 0px;
    }
    #videoCommentArea .toparea .postCount {
        text-align: left !important;
        padding-left: 53px;
    }
    #videoCommentArea .toparea {
        padding: 0px 0px;
        padding-bottom: 10px;
    }
    #videoCommentArea .commentBox .commentItem .user_content {
        width: 100%;
    }
    #videoCommentArea .commentBox .commentItem .user_content .content p {
        font-size: 12px;
        line-height: 17px;
        width: 100%;
    }
    #videoCommentArea .commentBox {
        padding: 20px 5px;
    }
    #videoCommentArea .mainuserComment {
        padding: 0px 0px;
        padding-top: 13px;
    }
    .fg-emoji-picker {
        left: 50% !important;
        transform: translateX(-50%);
    }
    .fg-emoji-picker-grid > li > a {
        font-size: 16px !important;
        padding: 20px 0px;
    }
    #videoCommentArea .mainuserComment .writeBox {
        width: 100%;
    }
    #videoCommentArea .commentBox .commentItem .user_content .commentReplayCount .comrplayItemContainer {
        padding-left: 0px;
        /* margin-left: -73px; */
        position: relative;
        left: -40px;
    }
    #videoCommentArea .commentBox .commentItem .user_content .content .comentLikeCount {
        bottom: 76px;
    }
}


























