@import 'import/reset.scss';
@import 'import/_color.scss';

*{
    font-family: 'Open Sans', sans-serif;
}
html,body{
    font-family: 'Open Sans', sans-serif;
}








/*------------------------
main code start here 
-------------------------*/
video::-webkit-media-controls-play-button,
video::-webkit-media-controls-pausebutton {
    display: none;
}

#videoToparea{
    background-color: #000;
    .videoarea{
        position: relative;
        video{
            max-width: 80%;
            max-height: 100%;
            border-radius: 4px;
        }

        .topliveOption{
            position: absolute;
            top: 20px;
            left: 150px;
            display: flex;
            justify-content: flex-start;
            .leftInfo{
                span{
                    background-color: #EC284E;
                    font-weight: 600;
                    color: #fff;
                    display: block;
                    padding: 5px 10px;
                    border-radius: 4px;
                    font-size: 12px;
                }
            }
            .rightInfo{
                margin-left: 5px;
                span{
                    display: block;
                    padding: 5px 10px;
                    background-color: rgba(0, 0, 0, 0.74);
                    border-radius: 4px;
                    color: #fff;
                    font-size: 12px;
                    font-weight: 600;
                    i{
                        margin-right: 4px;
                    }
                }
            }
        }
    }
}


#videoCommentArea{
    padding: 10px 0px 20px 0px;
    background: #000;
    .toparea{
        border-bottom: 1px solid rgba(221, 221, 221, 0.151);
        padding: 0px 10px;
        padding-bottom: 15px;
        .postReaction{
            ul{
                li{
                    display: inline-block;
                    cursor: pointer;
                    a{
                        color: #b0b3b8;
                        display: block;
                        font-weight: 600;
                        font-size: 14px;
                        padding: 7px 13px;
                        border-radius: 4px;
                        &:hover{
                            background-color: rgba(255,255,255,0.1);
                        }
                        i{
                            margin-right: 3px;
                        }
                    }
                }
            }
        }
        .postCount{
            ul{
                li{
                    display: inline-block;
                    margin-left: 14px;
                    position: relative;
                    span{
                        position: relative;
                    }
                    a{
                        color: #b0b3b8;
                        font-weight: 600;
                        font-size: 13px;
                        position: relative;
                        z-index: 99999999;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                    img{
                        height: 17px;
                        margin-right: 2px;
                    }
                }
                .like-emo{
                    span.like-icon{
                        &:after{
                            position: absolute;
                            height: 40px;
                            width: 40px;
                            left: -35px;
                            top: 1px;
                            content: "";
                            background-image: url(../js/plugin/emojis/like.svg);
                            background-size: 20px 20px;
                            background-repeat: no-repeat;
                        }
                    }
                }
                .love-emo{
                    span.love-icon{
                        &:before{
                            position: absolute;
                            height: 40px;
                            width: 40px;
                            left: -47px;
                            top: 1px;
                            content: "";
                            background-image: url(../js/plugin/emojis/love.svg);
                            background-size: 20px 20px;
                            background-repeat: no-repeat;
                        }
                    }
                }
                .care-emo{
                    span.care-icon{
                        &:before{
                            position: absolute;
                            height: 40px;
                            width: 40px;
                            left: -59px;
                            top: 1px;
                            content: "";
                            background-image: url(../js/plugin/emojis/care.svg);
                            background-size: 20px 20px;
                            background-repeat: no-repeat;
                        }
                    }
                }
            }
        }
    }
    .commentBox{
        padding: 20px 20px;
        max-height: 430px;
        overflow-y: scroll;
        .commentItem{
            display: flex;
            justify-content: flex-start;
            margin-bottom: 15px;
            .user_image{
                margin-right: 15px;
                img{
                    height: 30px;
                    border-radius: 30px;
                }
            }
            .user_content{
                width: 70%;
                .content{
                    background-color: #3A3B3C;
                    padding: 9px 20px;
                    border-radius: 4px;
                    max-width: fit-content;
                    position: relative;
                    .comentLikeCount{
                        position: absolute;
                        right: 0px;
                        bottom: -40px;
                        text-align: right;
                        span.number-like{
                            color: #b0b3b8;
                            font-weight: 600;
                            font-size: 12px;
                        }
                    }
                    .comentLikeCount.like-emo{
                        span.like-icon{
                            &:before{
                                position: absolute;
                                height: 30px;
                                width: 30px;
                                right: 8px;
                                top: 3px;
                                content: "";
                                background-image: url(../js/plugin/emojis/like.svg);
                                background-size: 20px 20px;
                                background-repeat: no-repeat;
                            }
                        }
                    }
                    .comentLikeCount.love-emo{
                        span.love-icon{
                            &:before{
                                position: absolute;
                                height: 30px;
                                width: 30px;
                                right: 20px;
                                top: 3px;
                                content: "";
                                background-image: url(../js/plugin/emojis/love.svg);
                                background-size: 20px 20px;
                                background-repeat: no-repeat;
                            }
                        }
                    }
                    .comentLikeCount.care-emo{
                        span.care-icon{
                            &:before{
                                position: absolute;
                                height: 30px;
                                width: 30px;
                                right: 32px;
                                top: 3px;
                                content: "";
                                background-image: url(../js/plugin/emojis/care.svg);
                                background-size: 20px 20px;
                                background-repeat: no-repeat;
                            }
                        }
                    }
                    h5{
                        color: #b0b3b8;
                        font-weight: 600;
                        font-size: 14px;
                    }
                    p{
                        color: #b0b3b8;
                        font-size: 13px;
                        margin-top: 4px;
                        line-height: 16px;
                        width: 70%;
                    }
                }
                .info{
                    margin-top: 7px;
                    ul{
                        li{
                            display: inline-block;
                            margin-right: 10px;
                            a{
                                color: #b0b3b8;
                                font-size: 13px;
                                font-weight: 600;
                                &:hover{
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
                .commentReplayCount{
                    padding-left: 30px;
                    margin-top: 5px;
                    >a{
                        color: #b0b3b8;
                        font-weight: 600;
                        font-size: 14px;
                        &:hover{
                            text-decoration: underline;
                        }
                        i{
                            margin-right: 4px;
                        }
                    }
                    .comrplayItemContainer{
                        margin-top: 20px;
                        padding-left: 30px;
                        .comrplayItemSingle{
                            display: flex;
                            justify-content: flex-start;
                            margin-bottom: 20px;
                            .userImage{
                                margin-right: 10px;
                                img{
                                    height: 30px;
                                }
                            }
                            .contentBox{
                                width: 80%;
                                .content{
                                    background-color: #3A3B3C;
                                    padding: 9px 20px;
                                    border-radius: 4px;
                                    max-width: fit-content;
                                    position: relative;
                                    width: 100%;
                                    h5{
                                        color: #b0b3b8;
                                        font-weight: 600;
                                        font-size: 14px;
                                    }
                                    p{
                                        color: #b0b3b8;
                                        font-size: 13px;
                                        margin-top: 4px;
                                        line-height: 16px;
                                        width: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
                .replayComment{
                    margin-top: 7px;
                    form{
                        input{
                            width: 100%;
                            background-color: #3A3B3C;
                            border: none;
                            font-weight: 600;
                            font-size: 12px;
                            padding: 10px 20px;
                            border-radius: 5px;
                            color: #b0b3b8;
                        }
                    }
                }
            }
        }
    }
    .commentBox::-webkit-scrollbar{
        display: none;
    }
    .commentBox::-moz-scrollbar{
        display: none;
    }
    .commentBox::-o-scrollbar{
        display: none;
    }
    .commentBox::-ms-scrollbar{
        display: none;
    }
    .mainuserComment{
        padding: 0px 20px;
        display: flex;
        justify-content: flex-start;
        padding-top: 20px;
        align-items: center;
        .userImge{
            margin-right: 15px;
            img{
                height: 30px;
                border-radius: 30px;
            }
        }
        .writeBox{
            width: 80%;
            position: relative;
            #emojipickerButton{
                position: absolute;
                right: 0;
                height: 100%;
                background-color: transparent;
                border: none;
                color: #b0b3b8;
                padding: 0px 13px;
                border-radius: 0px 5px 5px 0px;
                outline: none;
                transition: 0.4s;
                &:hover{
                    background-color: rgba(221, 221, 221, 0.212);
                }
            }
            input{
                width: 100%;
                background-color: #3A3B3C;
                border: none;
                font-weight: 500;
                font-size: 14px;
                padding: 12px 20px;
                border-radius: 5px;
                color: #b0b3b8;
            }
        }
    }
}
.FB_reactions2{
    position: relative !important;
    cursor: pointer;
}

















